<html>
{% extends "template.html" %}
{% block content %}

               


<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.css">
  <link rel="stylesheet" href="./static/css/custom.css">


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Donorschoose Dashboard</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">
        <div class="row">

        	<!-- FIELDS = {'case_id': True, 'age': True, 'clinical_stage': True, 'days_to_birth': True, 'days_to_death': True, 
'days_to_initial_pathologic_diagnosis': True, 'dfs_status': True, 'ecog_score': True, 'ethnicity': True, 'ecog_score': True, 'gender history_neoadjuvant_trtyn': True,
'history_other_malignancy': True, 'icd_10': True, 'icd_o_3_histology': True, 'icd_o_3_site': True, 'initial_pathologic_dx_year': True, 'karnofsky_performance_score': True, 'last_contact_days_to': True,
'method_of_sample_procurement': True, 'new_tumor_event_after_initial_treatment': True, 'os_months': True, 'os_status': True, 'performance_status_timing': True, 'pharmaceutical_tx_adjuvant': True,
'primary_site': True, 'prospective_collection': True, 'race': True, 'radiation_treatment_adjuvant': True, 'residual_tumor': True, 'retrospective_collection': True, 'specimen_second_longest_dimension': True, 'tissue_source_site': True,
'treatment_outcome_first_course': True, 'tumor_status': True, 'tumor_tissue_site': True, 'vital_status': True, '_id': False} -->

          <!-- Time Chart --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Case ID
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>
          <!-- Time Chart --> 

          <!-- Resources Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Age
              </div>
              <div class="chart-stage">
                <div id="resource-type-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Resources Pie -->

          <!-- Poverty Pie -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Clinical Stage
              </div>
              <div class="chart-stage">
                <div id="poverty-level-row-chart"></div>
              </div>
            </div>
          </div>
          <!-- Poverty Pie -->

        </div>
      </div>

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Days to Birth
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->

      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Days to Death
          </div>
          <div class="chart-stage">
            <div id="number-projects-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Days to Initial Pathologic Diagnosis
          </div>
          <div class="chart-stage">
            <div id="total-donations-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

      <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                DFS Months
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>


      <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                DFS Status
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Ecog Score
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Ethnicity
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Gender
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                History Neoadjuvant Trtyn
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                History Other Malignancy
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                ICD 10
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                ICD O 3 Histology
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                ICD O 3 Site
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Initial Pathologic DX Year
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Karnofsky Performance Score
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Last Contact Days To
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Method of Sample Procurement
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                New Tumor Event After Initial Treatment OS Months
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                OS Status
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Performance Status Timing
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Pharmaceutical TX Adjuvant
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Primary Site
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Prospective Collection
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Race
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Radiation Treatment Adjuvant
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Residual Tumor
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Retrospective Collection
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Specimen Second Longest Dimension
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Tissue Source Site
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Treatment Outcome First Course
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Tumor Status
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Tumor Tissue Site
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Vital Status
              </div>
              <div class="chart-stage">
                <div id="time-chart"></div>
              </div>
            </div>
          </div>









































































    </div>

  </div>

    <hr>
    <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  </div>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.js"></script>
  <script src="./static/lib/js/dc.js"></script>
  <script src="./static/lib/js/queue.js"></script>


  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>
</body>
</html>

 {% endblock %}

 </html>